Title: <input type="text" name="title" ng-model="title" value="" placeholder="Title"><br>
Volume(opt): <input type="text" name="volume" ng-model="volume" value="" placeholder="Volume #"><br>
Author: <input type="text" name="author" ng-model="author" value="" placeholder="Auther"><br>
Genre: <input type="text" name="genre" ng-model="genre" value="" placeholder="Genre"><br>
Stars: <input type="text" name="stars" ng-model="stars" value="" placeholder="Stars"><br>
Comments: <input type="text" name="name" ng-model="comments" value="" placeholder="Comments..."><br>
<button type="button" name="button" ng-click="addBook()">Submit</button>
