<h1>Sorting Books</h1>
<div ng-init="getBooks()"></div>
<p><input type="text" ng-model="test" placeholder="Search..."></p>
<p><select ng-model="category" ng-options="x for x in categoryNames">Category</select></p>
eBook: <input type="checkbox" ng-model="eBook">
<ul ng-repeat="book in allTheBooks | filter:test | filter:category | filter: eBook">
  <li><strong>Title: </strong>{{book.title}}</li>
    <ul>
      <li><strong>Category: </strong>{{book.category}}</li>
      <li><strong>eBook: </strong>{{book.eBook?'Yes':'No'}}</li>
      <li><strong>Volume: </strong>{{book.volume}}</li>
      <li><strong>Author: </strong>{{book.author}}</li>
      <li><strong>Genre: </strong>{{book.genre}}</li>
      <li><strong>Stars: </strong>{{book.stars}}</li>
      <li><strong>Comments: </strong>{{book.comments}}</li>
      <li><button type="button" ng-click="deleteBook(book._id)">Delete</button><button type="button" ng-click="updateBook()">Update</button></li>
    </ul>
</ul>
